{% extends "base.html" %}

{% block extra_head %}
<script>
$(document).ready(function(){
  $("div#menu ul li a.courses").addClass("selected");
});
</script>
{% endblock %}

{% block content %}
		<h2 style="margin:0; padding:0;">Courses</h2>
		<div class="hr">
			<hr />
		</div>
		<h3>Portuguese Course</h3>
		<p>Language Instruction in Portuguese, beginning, immediate, and advanced level will be offered.</p>
		<h3>Voluntary Work</h3>
    <p>Students will have the opportunity to immerse themselves into the culture by doing volunteer work with NGO or nonprofit organizations that work with  various types of communities in the Northeast of Brazil.</p>
    <h3>Independent Study</h3>
    <p>Students who opt for an Independent Study Project must prove before hand that they have the perquisite language skills to carry out their project and that the student will have the proper mentorship to carry out the project, and that it is relevant to the northeast of Brazil. Also the independent project should be in the field of Social Studies or the humanities.</p>
    <h3>The Construction of Race and Identity in Brazil</h3>
    <p>This course will focus on the historical, political, and socio-economic development of race and identity in Brazil. Brazil is one of the most diverse nations in the world. There are more people of African ancestry in any nation except Nigeria, there are more people of Japanese heritage than any country except Japan, and there are more people of Arab ancestry than any country outside of the Middle East. Brazil is home to nearly every ethnic group in the world. This course will chart how Brazil has dealt with race and identity.</p>
    <h3>Local Life and Culture in Brazil</h3>
    <p>Brazil is a country of many paradoxes. Brazil has the fifth largest population in the world and is one of the most diverse. It has the thirteenth largest GDP and twelfth largest GNP. It is a country with enormous natural resources; yet Brazil is a country that has the 2nd largest income gap per capita, the only country with a larger income gap is Sierra Leone. This course is an introduction to some of the major political and socio-economic issues that impact Brazil. This course will take a multi-disciplinary approach to understanding the complexities that make Brazil the country that it is. Not only will the course draw resources from several disciplines: history, anthropology, sociology, Political Science, and economics, but a good part of the course will take place in the field. Students will be taken on field trips every week and introduced to Brazilians from all walks of life.</p>
    <h3>Popular Dance in Brazil</h3>
    <p>Students will also have the option to study Popular Dance in Brazil Capoeira, Samba, and Forro. An expert in these dance forms will conduct weekly lessons and students will be expected to produce a paper based on reading, lectures and interviews that they will conduct.</p>
{% endblock %}
