{% extends "base.html" %}

{% block extra_head %}
<script>
$(document).ready(function(){
  $("div#sidebar").find("a.programs").addClass("selected");
});
</script>
{% endblock %}

{% block content %}
		<h2 style="margin:0; padding:0;">Programs</h2>
		<div class="hr">
			<hr />
		</div>
		<h3>Progams Pedagogy Approach</h3>
		<p>We promote a pedagogy based on much of the theoretical underpinning of the educator Paulo Freire. We particularly embrace his ideas that education should emphasis respectful dialogue between the instructor/organic leader and the student, and that education is a praxis action that is linked to the idea of social justice. Moreover, we endorse the idea that education exists to develop an open space for critical dialogue and reflection.</p>
		<h3>Three Key Components:</h3>
		<ol>
		  <li>
		    <h4>Approaches:</h4>
		    <div class="hr" style="margin-bottom:0"><hr /></div>
		    <p>Students will be introduced to key texts, in the form of a series of articles and books, which will address pertinent issues in the host society. Texts will be drawn form a cross section of disciplines in the Social Sciences and the Humanities. Students will be expected to participate in discussions of the text. They will also be expected to write several short essays based on texts, discussions, lectures, and field observations.</p>
		  </li>
		  <li>
		    <h4>Immersion:</h4>
		    <div class="hr" style="margin-bottom:0"><hr /></div>
		    <p>Immersion is a key component in all study abroad programs. In order for the student to gain any cross-cultural insight into another culture or society, it is critical that the student becomes familiar with the language of the community, and develops relationships with those in the community. Therefore, we will approach these challenges by immersing the student in the language of the community and offering on site language instruction.</p>
		    <p>Additionally we will immerse the students into the community by organizing “Bate-Papo” or conversations with Brazilian college students. Students will meet once or twice a week in an exchange. (Half the Bate-Papo they will speak English and the other half they will speak Portuguese.) This will give the students an opportunity to improve language skills and develop life long friendships.</p>
		    <p>Each week workshops and classes will be coordinated so that students will have the opportunity to immerse themselves in the culture by participating in uniquely Brazilian manifestations such as the Brazilian dances’ Capoiera and Forro. Also, students will be exposed to museums, concerts, and other cultural manifestations.The final way students will have the opportunity to immerse themselves into the culture is by living with a Brazilian family in what is known as a home stay. The home stay provides the students an opportunity to continue to improve their language skills and to learn about Brazilian culture in a more intimate way.</p>
		  </li>
		  <li>
		    <h4>Field Trips and Organic Leaders of the Community:</h4>
		    <div class="hr" style="margin-bottom:0"><hr /></div>
		    <p>An important aspect of the study abroad program will be the students’ opportunity to engage with Brazilian scholars, social activists, local leaders, and artist. These individuals from the community will provide lectures and accompany students into the field of various communities. Students will also have the opportunity to travel to various sites in the North of Brazil. Some excursions will be day trips, some over night trips, and there will be long extended travel excursions.</p>
		    <p>These field trips will be designed to allow the student to have a first hand experience of the major social issues that face their host country and to allow student to gain further cultural and historic insights.</p>
		    <p>This program should have a wide appeal to students from a variety of academic backgrounds, particularly those students who are interested in the Arts, Social Sciences, and Earth and Environmental Sciences.</p>
		  </li>
		</ol>
		<h3>Types of Programs:</h3>
		<p>Students will have the opportunity to immerse themselves into the culture by doing volunteer work with NGO or nonprofit organizations that work with various communities in the Northeast of Brazil.</p>
		<p>Go Study Brazil works with a variey of institutions coordinated with Ética Gestão e Desenvolvimento including Saúde Mental Comunitária do Bom Jardim.</p>
{% endblock %}
